In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('books.csv')

In [6]:
df.sample(5)

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url,NonEnglish
208,4706,18594409,18594409,26340807,10,1608198065,9.781608e+12,Roz Chast,2014.0,Can't We Talk about Something More Pleasant?,...,19756,3156,803,842,2705,6635,8771,https://images.gr-assets.com/books/1421087235m...,https://images.gr-assets.com/books/1421087235s...,0
45,870,2199,2199,2861004,40,743270754,9.780743e+12,"Doris Kearns Goodwin, Suzanne Toren",2005.0,Team of Rivals: The Political Genius of Abraha...,...,107944,5875,3306,3095,11140,31184,59219,https://images.gr-assets.com/books/1347278868m...,https://images.gr-assets.com/books/1347278868s...,0
334,8105,23341862,23341862,42901339,11,1455554596,9.781456e+12,Sarah Hepola,2015.0,Blackout: Remembering the Things I Drank to Fo...,...,11756,1235,185,471,2512,5030,3558,https://images.gr-assets.com/books/1423750824m...,https://images.gr-assets.com/books/1423750824s...,0
37,745,12868761,12868761,17995392,2,399159010,9.780399e+12,Jenny Lawson,2012.0,Let's Pretend This Never Happened (A Mostly Tr...,...,130593,15544,5179,9769,25994,41884,47767,https://images.gr-assets.com/books/1489415716m...,https://images.gr-assets.com/books/1489415716s...,0
36,737,43015,43015,825414,68,374105235,9.780374e+12,Ishmael Beah,2007.0,A Long Way Gone. Memoirs of a Boy Soldier,...,121841,9015,1424,3801,20057,46963,49596,https://s.gr-assets.com/assets/nophoto/book/11...,https://s.gr-assets.com/assets/nophoto/book/50...,0

In [31]:
rows = df.shape[0]
columns = df.shape[1]
print(f'There are {rows} rows and {columns} columns in the book dataset')

There are 399 rows and 24 columns in the book dataset

In [22]:
# checking for Null values
df.isnull().sum()

book_id                       0
goodreads_book_id             0
best_book_id                  0
work_id                       0
books_count                   0
isbn                         11
isbn13                       10
authors                       0
original_publication_year     0
original_title               36
title                         0
language_code                43
average_rating                0
ratings_count                 0
work_ratings_count            0
work_text_reviews_count       0
ratings_1                     0
ratings_2                     0
ratings_3                     0
ratings_4                     0
ratings_5                     0
image_url                     0
small_image_url               0
NonEnglish                    0
dtype: int64

In [40]:
# Get the list of columns with null values and their counts
null_counts = df.isnull().sum()
columns_with_null = null_counts[null_counts > 0].index.tolist()

# Display data types and counts of null values for columns with null values
for column in columns_with_null:
    print(f"{column}: {df[column].dtype} - Null Count: {null_counts[column]}")

isbn: object - Null Count: 11
isbn13: float64 - Null Count: 10
original_title: object - Null Count: 36
language_code: object - Null Count: 43

In [47]:
# Printing sample for each column which has null values
df[df['isbn'].isnull()].sample(5)

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url,NonEnglish
74,1512,18478222,18478222,160246,749,NaN,9.780990e+12,Solomon Northup,1853.0,Twelve Years a Slave,...,64894,4918,1035,2266,10046,23893,27654,https://images.gr-assets.com/books/1378793462m...,https://images.gr-assets.com/books/1378793462s...,0
307,7273,15771862,15771862,21480584,36,NaN,NaN,Sonali Deraniyagala,2013.0,Wave,...,13198,2128,466,1217,3512,4626,3377,https://images.gr-assets.com/books/1362126716m...,https://images.gr-assets.com/books/1362126716s...,0
145,3261,7897478,7897478,11141306,18,NaN,NaN,Sarah Silverman,2010.0,"The Bedwetter: Stories of Courage, Redemption ...",...,30176,1949,1207,3272,10126,9864,5707,https://images.gr-assets.com/books/1269295414m...,https://images.gr-assets.com/books/1269295414s...,0
330,7954,17455541,17455541,24346221,9,NaN,NaN,"Phil Robertson, Mark Schlabach",2013.0,Legend of the Duck Commander,...,11300,1182,268,518,2117,3713,4684,https://images.gr-assets.com/books/1362252767m...,https://images.gr-assets.com/books/1362252767s...,0
5,106,9418327,9418327,14302659,48,NaN,NaN,Tina Fey,2011.0,Bossypants,...,609260,35142,14842,31761,129390,230080,203187,https://images.gr-assets.com/books/1481509554m...,https://images.gr-assets.com/books/1481509554s...,0

In [48]:
df[df['isbn13'].isnull()].sample(5)

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url,NonEnglish
44,852,25899336,25899336,45424659,80,NaN,NaN,"Paul Kalanithi, Abraham Verghese",2016.0,When Breath Becomes Air,...,165673,15933,2913,4244,18562,51535,88419,https://images.gr-assets.com/books/1492677644m...,https://images.gr-assets.com/books/1492677644s...,0
203,4601,25690958,25690958,45519636,24,NaN,NaN,Shonda Rhimes,2015.0,NaN,...,29603,3643,711,1454,5260,10269,11909,https://images.gr-assets.com/books/1443552148m...,https://images.gr-assets.com/books/1443552148s...,0
145,3261,7897478,7897478,11141306,18,NaN,NaN,Sarah Silverman,2010.0,"The Bedwetter: Stories of Courage, Redemption ...",...,30176,1949,1207,3272,10126,9864,5707,https://images.gr-assets.com/books/1269295414m...,https://images.gr-assets.com/books/1269295414s...,0
139,3012,23481669,23481669,43072491,10,NaN,NaN,Donna Mabry,2014.0,NaN,...,28423,2357,537,1307,5140,10543,10896,https://s.gr-assets.com/assets/nophoto/book/11...,https://s.gr-assets.com/assets/nophoto/book/50...,0
307,7273,15771862,15771862,21480584,36,NaN,NaN,Sonali Deraniyagala,2013.0,Wave,...,13198,2128,466,1217,3512,4626,3377,https://images.gr-assets.com/books/1362126716m...,https://images.gr-assets.com/books/1362126716s...,0

In [49]:
df[df['original_title'].isnull()].sample(5)

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url,NonEnglish
148,3315,17287028,17287028,24036009,2,1250040159,9.781250e+12,"Elizabeth Smart, Chris Stewart",2013.0,NaN,...,25846,3604,1048,1889,6465,8899,7545,https://images.gr-assets.com/books/1367749530m...,https://images.gr-assets.com/books/1367749530s...,0
359,8828,13167847,13167847,18347103,8,805095837,9.780805e+12,Andy Cohen,2012.0,NaN,...,11305,1169,175,721,3144,4492,2773,https://images.gr-assets.com/books/1335383485m...,https://images.gr-assets.com/books/1335383485s...,0
92,1942,10211494,10211494,15110962,15,080509329X,9.780805e+12,Rob Lowe,2011.0,NaN,...,50460,4440,1555,3272,12961,19965,12707,https://s.gr-assets.com/assets/nophoto/book/11...,https://s.gr-assets.com/assets/nophoto/book/50...,0
320,7709,15733346,15733346,21414594,13,1444734148,9.781445e+12,Miranda Hart,2012.0,NaN,...,13994,1510,536,1133,3185,4841,4299,https://images.gr-assets.com/books/1341274679m...,https://images.gr-assets.com/books/1341274679s...,0
337,8182,12878300,12878300,18031309,16,307730697,9.780308e+12,Eric Blehm,2012.0,NaN,...,10382,1220,95,183,797,2312,6995,https://images.gr-assets.com/books/1351386173m...,https://images.gr-assets.com/books/1351386173s...,0

In [52]:
df[df['language_code'].isnull()]['language_code'].sample(5)

207    NaN
107    NaN
398    NaN
174    NaN
190    NaN
Name: language_code, dtype: object

In [54]:
null_language_code_rows = df[df['language_code'].isnull()].sample(5)

# Identify the index of the 'language_code' column
language_code_index = df.columns.get_loc('language_code')

# Extract the two columns before and after 'language_code'
selected_columns = df.columns[max(0, language_code_index - 2):min(language_code_index + 3, len(df.columns))]

# Display the selected columns for the sampled rows
null_language_code_rows[selected_columns]

,original_title,title,language_code,average_rating,ratings_count
347,Sieben Jahre in Tibet,Seven Years in Tibet,NaN,4.05,11283
395,"Without You, There Is No Us: My Time with the ...","Without You, There Is No Us: My Time with the ...",NaN,3.85,8164
157,A Girl Named Zippy: Growing up Small in Moorel...,A Girl Named Zippy,NaN,3.79,27928
190,Heavier Than Heaven: A Biography of Kurt Cobain,Heavier Than Heaven: A Biography of Kurt Cobain,NaN,4.09,18496
250,Tramp for the Lord,Tramp for the Lord,NaN,4.47,16680